# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
epminder/resources/android/icon/drawable-ldpi-icon.png
EpMinder/config.xml
EpMinder/package.json
epminder/resources/android/splash/drawable-land-ldpi-screen.png
*.png
EpMinder/config.xml
*.json
EpMinder/config.xml
ConsoleApplication1/ConsoleApplication1.sln
ConsoleApplication1/ConsoleApplication1/bin/Debug/ConsoleApplication1.exe.config
ConsoleApplication1/ConsoleApplication1/obj/Debug/ConsoleApplication1.csproj.FileListAbsolute.txt
ConsoleApplication1/ConsoleApplication1/Properties/AssemblyInfo.cs
