<ion-view view-title="My Shows">
    <ion-content class="padding">
        <ion-list>
            <ion-item class="show-box item-avatar item-icon-right" ng-repeat="show in shows" type="item-text-wrap" ng-click="GetEpisodesForFaves(show)">
                <img ng-src="{{show.image}}">
                <h2>{{show.name}} ({{show.country}})</h2> 
                <p>{{show.network}} - {{show.year}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar align-title="left" class="foot bar">
        <a class="icon share ion-android-share" href="#" ng-click="share()"></a><span class="share-text" ng-click="share()">Share List</span>
    </ion-footer-bar>
</ion-view>
