<ion-view view-title="This Week">
  <ion-content class="padding">
    <ion-list>
        <ion-item class="item-icon-right item-text-wrap show-box" ng-repeat="episode in episodes">
            <h2>{{episode.showname}}</h2>
            <h2>{{episode.name}}</h2>
            <p>{{episode.airdate}} @ {{episode.airtime}}</p>

            <div ng-hide="sumHidden[episode.index]" class="ng-hide"><p>{{episode.summary}}</p></div>
            <button ng-hide="!sumHidden[episode.index]" class="ng-hide button button-stable" ng-click="ShowSummary(episode.index)">
                show synopsis
            </button>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
