<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-striped tabs-top tab-bar">

    <!-- Week Tab -->
    <ion-tab title="This Week" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/week">
        <ion-nav-view name="tab-week"></ion-nav-view>
    </ion-tab>

    <!-- Favorites Tab -->
    <ion-tab title=" my shows" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" href="#/tab/favorites">
        <ion-nav-view name="tab-favorites"></ion-nav-view>
    </ion-tab>

    <!-- Search Tab -->
    <ion-tab title="Search" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/search">
        <ion-nav-view name="tab-search"></ion-nav-view>
    </ion-tab>

    <!-- Episodes Tab -->
    <ion-tab title="Episodes" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/episodes">
        <ion-nav-view name="tab-episodes"></ion-nav-view>
    </ion-tab>



</ion-tabs>
