@import "../lib/ionic/scss/variables";

/* Empty. Add your own CSS if you like */
.item .item-content {
  background-color: black;
}

ion-nav-view {
    background-color: black;
}

.item-content h2 {
    font-weight: bold;
    color: white;
}


.item-content p {
    color: white;
}
.bar {
    background-color: black;
    color: white;
}

.padding {
    background-color: black;
}

.spinner svg {
  width: 150px;
  height: 150px;
  stroke: #22A7F0;
  fill: white;
}
.spinner-area {
    text-align: center;
    margin-top: 10%;
}
.favorite { 
    color: orange;
    top: 15px;
    left: 15px;
    font-size: 36px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    border-radius: 4px;
}

.share {
    color: white;
    margin-top: -5px;
    font-size: 48px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    border-radius: 4px;
}


.share-text {
  margin-top: 8px;
  font-size: 250%;
}
.favorite-text {
  height: 120px;
  font-size: 200%;
}

.search {
    margin-bottom: 5px;
    border-radius: 15px;

}

.show-box {
    margin-bottom: 5px;
    background-color: #444;
    border-radius: 10px;
    border: 2px solid white;
}
.show-box h2 {
    color: white;
    font-weight: bold;

}
.show-box h3 {
    color: white;


}
.show-box p {
    color: white;
}

.title-box h2 { 

    color: #22A7F0;
    font-family: "Arial";
    font-style: italic;
    font-weight: bold;
}

.foot {
    background-color: black;
    border-top: 4px solid white;
}

.tab-bar { 
    background-color: $calm;
    color: pink;
    color: red;
}

ion-tabs {
    background-color: red;
    color: orange;
    border-color: pink;
}
